body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 300px;
}

#display {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    font-size: 2em;
    text-align: right;
    border: none;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    padding: 15px;
    font-size: 1.5em;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #777;
}

.operator {
    background-color: #ff9500;
}

.operator:hover {
    background-color: #ffad33;
}

.number {
    background-color: #333;
}

.number:hover {
    background-color: #555;
}

#equals {
    grid-column: span 2;
}
